---
const plans = [
    {
        title: 'Plan Staff',
        price: 'S/. 200 /Anual',
        benefits: [
            'Acceso completo a todos los cursos',
            'Certificado de finalización',
            'Recompensas por suscripción continuada',
            'Certificado de finalización',
            'Recompensas por suscripción continuada',
        ],
        color: '#FFFFFF',
        colorText: '#414141',
        colorBUtton: '#EAEAEA',
        logoColor: '#414141',
        hoverButton: '#c7c7c7',
        textColorButton: '#414141',
    },
    {
        title: 'Plan Duo',
        price: 'S/. 350 /Anual',
        benefits: [
            'Acceso completo a todos los cursos',
            'Certificado de finalización',
            'Recompensas por suscripción continuada',
            'Certificado de finalización',
            'Recompensas por suscripción continuada',
        ],
        color: '#9AD3CC',
        colorText: '#414141',
        colorBUtton: '#89C8C0',
        logoColor: '#414141',
        hoverButton: '#6fa39c',
        textColorButton: '#414141',
    },
    {
        title: 'Plan Team',
        price: 'S/. 500 /Anual',
        benefits: [
            'Acceso completo a todos los cursos',
            'Certificado de finalización',
            'Recompensas por suscripción continuada',
            'Certificado de finalización',
            'Recompensas por suscripción continuada',
        ],
        color: '#5C59C2',
        colorText: '#fff',
        colorBUtton: '#5350B9',
        logoColor: '#ffffff',
        hoverButton: '#444199',
        textColorButton: '#fff',
    },
];
import PlanCard from './planCard.astro';
import '@/styles/global.css';
---

<h1
    class="font-onest justify-center flex text-5xl mb-5"
    style="font-weight: 800;"
>
    <span class="text-[#5C59C2]">Escoge&nbsp;</span>
    <span class="text-[#414141]">tu plan</span>
</h1>
<p
    class="font-onest mx-auto text-xl mb-14 max-w-[500px]"
    style="font-weight: 400; text-align: center;"
>
    Escoge uno de nuestros planes, para tí y para tus amigos
</p>
<div class="flex flex-row gap-8 justify-center">
    {
        plans.map((plan) => (
            <PlanCard
                title={plan.title}
                price={plan.price}
                benefits={plan.benefits}
                color={plan.color}
                colorText={plan.colorText}
                colorBUtton={plan.colorBUtton}
                logoColor={plan.logoColor}
                hoverButton={plan.hoverButton}
                textColorButton={plan.textColorButton}
            />
        ))
    }
</div>
