---
const plans = [
    {
        title: 'Plan Staff',
        price: 'S/. 200 /Anual',
        benefits: [
            'Acceso completo a todos los cursos',
            'Certificado de finalización',
            'Recompensas por suscripción continuada',
            'Certificado de finalización',
            'Recompensas por suscripción continuada',
        ],
        color: '#FFC122',
        colorText: '#414141',
        colorBUtton: '#f5f5f5',
        logoColor: '#FFC122',
        hoverButton: '#ddd',
        textColorButton: '#FFC122',
    },
    {
        title: 'Plan Duo',
        price: 'S/. 350 /Anual',
        benefits: [
            'Acceso completo a todos los cursos',
            'Certificado de finalización',
            'Recompensas por suscripción continuada',
            'Certificado de finalización',
            'Recompensas por suscripción continuada',
        ],
        color: '#62D4D4',
        colorText: '#414141',
        colorBUtton: '#f5f5f5',
        logoColor: '#62D4D4',
        hoverButton: '#ddd',
        textColorButton: '#205D76',
    },
    {
        title: 'Plan Team',
        price: 'S/. 500 /Anual',
        benefits: [
            'Acceso completo a todos los cursos',
            'Certificado de finalización',
            'Recompensas por suscripción continuada',
            'Certificado de finalización',
            'Recompensas por suscripción continuada',
        ],
        color: '#FFA3A1',
        colorText: '#414141',
        colorBUtton: '#f5f5f5',
        logoColor: '#FFA3A1',
        hoverButton: '#ddd',
        textColorButton: '#FFA09E',
    },
];
import PlanCard from './planCardNiño.astro';
import SparklesText from '@/components/ui/sparkles-text';
import '@/styles/global.css';
---

<h1
    class="font-onest justify-center flex text-5xl mb-5"
    style="font-weight: 800;"
>
    <span class="text-[#205D76] z-10">
        <SparklesText text="Preguntas " client:load />
    </span>
    <span class="text-[#414141] text-6xl font-onest"> frecuentes </span>
</h1>
<p
    class="font-onest mx-auto text-xl mb-14 max-w-[600px]"
    style="font-weight: 400; text-align: center;"
>
    Escoge uno de nuestros planes, para tí y para tus amigos
</p>
<div class="flex flex-row gap-8 justify-center">
    {
        plans.map((plan) => (
            <PlanCard
                title={plan.title}
                price={plan.price}
                benefits={plan.benefits}
                color={plan.color}
                colorText={plan.colorText}
                colorBUtton={plan.colorBUtton}
                logoColor={plan.logoColor}
                hoverButton={plan.hoverButton}
                textColorButton={plan.textColorButton}
            />
        ))
    }
</div>
